// @import "../../styles/include/variables.scss";

.Button {
  align-items: center;
  //background-color: $form-button-background;
  //border: 1px solid $form-button-background;
  //border-radius: $form-button-radius;
  //color: $white;
  display: flex;
  //font-size: $form-button-font-size;
  justify-content: center;
  //min-height: $form-button-height;
  //padding-left: $form-button-padding;
  //padding-right: $form-button-padding;

  &:disabled {
    //background-color: $form-disabled-button-background !important;
    //border-color: $form-disabled-button-background !important;
  }

  &_big {
    //font-weight: $global-weight-medium;
    //min-height: $form-button-height-big;
  }

  &_full-width {
    //font-weight: $global-weight-medium;
    text-transform: uppercase;
    width: 100%;
  }

  &_rounded {
    //border-radius: $form-button-height / 2;
    //color: rgba($white, 0.87);
  }

  &_secondary {
    //background-color: $form-button-secondary-background;
    //color: rgba($white, 0.87);
  }

  &_small {
    font-size: 0.75rem;
    //min-height: $form-button-height-small;
  }

  &_transparent {
    background: transparent;
    border-color: transparent;
    //color: $form-button-background;
    //font-weight: $global-weight-medium;
    //min-width: $form-button-height;
    text-transform: uppercase;

    &.Button {
      &_big {
        //min-width: $form-button-height-big;
      }

      &_small {
        //min-width: $form-button-height-small;
      }
    }
  }

  &_with-border {
    //border: 1px solid $form-button-border-color;
  }
}
